.contentHeader {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  font-size: 16px;
}

.contentHeader .title {
  color: #797979;
  font-weight: bold;
}

.contentHeader .logoutBtn {
  padding: 5px 10px;
  border-radius: 12px;
  border: 1px solid #eaeaea;
  color: #909ba6;
  font-size: 18px;
  cursor: pointer;
}

.contentHeader .logoutBtn:hover {
  color: blue;
}
